.info {
    width: 50%;

    background: linear-gradient(to bottom, #afc2cc, #afc2cc,#a2b4bb, #96a9af, #acb7c7, #adb9c9);
    max-height: 100vh;
    overflow: hidden;

    @include breakpoint($bp-lg) {
        width: 100%;
    }
    @include breakpoint($bp-md) {
        max-height: none;
    }

    &__inner {
        color: #000;
        margin-left: auto;

        max-width: 1000px;
        position: relative;

        &-title {
            text-align: left;
            position: absolute;
            font-size: 3.1vw;
            top: 2em;
            left: 3rem;
            z-index: 1;

            max-width: 100px;
            @media (min-width: 2000px) {
                font-size: 4em;
            }
        }

        &-description {
            margin: 0;
            font-size: 1.03vw;
            line-height: 1.2;

            position: absolute;
            left: 3rem;
            bottom: 3rem;
            width: 50%;

            @media (min-width: 2000px) {
                font-size: 1.3em;
            }

            span {
                display: block;
                margin: 1em 0;
            }

            a {
                font-weight: 700;
                color: #000;
            }
        }

        &-image {
            text-align: right;
            img {
                margin-right: -5%;
                width: 72%;
                max-height: 95vh;
                mask-image: linear-gradient(to left, rgba(0,0,0,1),rgba(0,0,0,1),rgba(0,0,0,1), rgba(0,0,0,0));
            }
        }

        @include breakpoint($bp-lg) {
            &-title {
                font-size: 5vw;
            }
            &-description {
                font-size: 2vw;
            }
        }
        @include breakpoint($bp-sm) {
            &-description {
                left: 1rem;
                bottom: 1rem;
                font-size: 2.4vw;
            }
            &-title {
                left: 1rem;
                font-size: 6vw;
            }
            &-image {
                img {
                    margin-right: -10%;
                }
            }
        }
    }
}